.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--main-border-color);

  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      color: var(--main-text-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
